* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.book {
    font-family: sans-serif;
    text-align: center;
    width: 245px;
    height: 245px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #888;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vw;
}

.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    grid-area: 1 / 2 / 6 / 6;
}

header {
    width: 100vw;
}

.div1 {
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    background-color: #888;
}

.form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}